.hero{
    position: relative;
    height: 100vh;

    &_content {
        background: rgba(255, 255, 255, 0.5);
        position: absolute;
        top:0%;
        left: 0%;
        height: 100%;
        width: 100%;

        display: grid;
        place-content: center;
    }
    &_title{
        span{
            display: block;
            font-size: 5rem;

        }
    }

}